<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KoDeal - Business Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!--/google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--//google-fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="../static/assets/css/style-starter.css">
</head>
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
            <h1><a class="navbar-brand pe-xl-5 pe-lg-4" href="index.html">
                <span>L</span>aundries<i class="fas fa-hands-wash"></i>
                </a></h1>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manreg">Register Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/viewmanager">View Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/viewemployee">View Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vieworder">Vieworders</a>
                    </li>
         
                </ul>
                <ul class="navbar-nav search-right mt-lg-0 mt-2">
                    <li class="nav-item mr-2" title="Search"><a href="#search" class="search-search">
                            <span class="fas fa-search" aria-hidden="true"></span></a></li>
                    <li class="nav-item mx-lg-4"><a href="/login" class="phone-btn btn-white d-none d-lg-block btn-style ms-2"><span class="fas fa-user me-2" aria-hidden="true"></span> LogOut</a></li>
                </ul>

                <!-- //toggle switch for light and dark theme -->
                <!-- search popup -->
                <div id="search" class="w3lpop-overlay">
                    <div class="w3lpopup">
                        <form action="#formsearch" method="GET" class="d-flex">
                            <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                            <button type="submit"><span class="fas fa-search"></span></button>
                            <a class="close" href="#formsearch">&times;</a>
                        </form>
                    </div>
                </div>
                <!-- /search popup -->
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>KoDeal - Business Category Bootstrap Responsive Template | Home :: W3layouts</title>
<!--/google-fonts -->
<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<!--//google-fonts -->
<!-- Template CSS -->
<link rel="stylesheet" href="../static/assets/css/style-starter.css">
</head>

<body>

    
    <!-- main-slider -->
    <section class="w3l-main-slider banner-slider" id="home">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <div class="slider-info banner-view banner-top1">
                    <div class="container">
                        <div class="banner-info">
                            <h3 style = color:orange;>WELCOME <span>Admin</span></h3>
                            
                                                
                                                    
                                                </div>
                                            </form>
                                        </div>
                                       

                            
                            <div class="banner-info-top">
                                <!-- <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. </p> -->
                                <!-- <a href="about.html" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Read More <span class="fas fa-angle-double-right ms-2"></span> </a> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>