<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laundries - Laundry Category Bootstrap Responsive Website Template - Services : W3Layouts</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="../static/assets/css/style-starter.css">
</head>

<body>
    <!-- header -->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                    <span>L</span>aundries<i class="fas fa-hands-wash"></i>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/order">Schedule Our Services</a>
                        </li>
                    </ul>
                    <form action="#error" method="GET" class="d-flex search-header ms-lg-2">
                        <input class="form-control" type="search" placeholder="Enter Keyword..." aria-label="Search"
                            required>
                        <button class="btn btn-style" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!-- //header -->

    <!-- pricing section -->
    <section class="w3l-pricing py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h5 class="sub-title">Pricing Plans</h5>
                <h3 class="title-style">More Details on Pricing</h3>
            </div>
            <!-- <div class="row t-in justify-content-center">
                <div class="col-lg-4 col-md-6 price-main-info">
                    <div class="price-inner card">
                        <div class="card-body"> -->
                            <h4 class="text-center mb-3">Dry Cleaning</h4>
                            <!-- <h5 class="card-title pricing-card-title"> -->
                                <!-- <span class="align-top">₹</span>100 -->
                            </h5>
                            <body>
                                <table class="table table-success table-striped">
                                    <tr>
                                        <th>item</th>
                                        <th>price</th>    
                                    </tr>
                                    <tr>
                                        <td>Shalwar Kameez</td>
                                        <td>60</td>
                                    </tr>
                                    <tr>
                                        <td>Boski Karandi suit  </td>
                                        <td>80</td>
                                    </tr>
                                    <tr>
                                       <td>Pant Shirt</td> 
                                       <td>70</td>
                                    </tr>  
                                    <tr>
                                        <td>Waistcoat</td>
                                        <td>150 </td>
                                    </tr>
                                    <tr>
                                        <td>Jacket </td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Jersey/ Sweater</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>Suit Ladies</td>
                                        <td> 100</td>
                                    </tr>
                                    <tr>
                                        <td>Fancy Suit - Ladies </td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Lehenga / Saarhi </td>
                                        <td>300</td>
                                    </tr>
                                    <tr>
                                        <td>Shawl Ladies </td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>Warm Shawl - Gents </td>
                                        <td>100</td>

                                    </tr>
                                    <tr>
                                        <td> Khais </td>
                                        <td>100</td>

                                    </tr>
                                
                                </table>
                            <div class="read-more mt-4 pt-lg-2 text-center">
                                <a href="/order" class="btn btn-style"> Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3l-grids-block-5 py-5">
                    <div class="container py-lg-5 py-md-4 py-2">
                        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                            
                            <h3 class="title-style">Steam Ironing</h3>
                        </div>
                            <table class="table table-success table-striped">
                                <tr>
                                    <th>item</th>
                                    <th>price</th>    
                                </tr>
                                <tr>
                                    <td>Shalwar Kameez</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>Boski Karandi suit  </td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                   <td>Pant Shirt</td> 
                                   <td>15</td>
                                </tr>  
                                <tr>
                                    <td>Waistcoat</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Jacket </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Jersey/ Sweater</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Suit Ladies</td>
                                    <td> 20</td>
                                </tr>
                                <tr>
                                    <td>Fancy Suit - Ladies </td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>Lehenga / Saarhi </td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>Shawl Ladies </td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Warm Shawl - Gents </td>
                                    <td>15</td>

                                </tr>
                                <tr>
                                    <td> Khais </td>
                                    <td>20</td>

                                </tr>
                            
                            </table>
                            
                            <div class="read-more mt-4 pt-lg-2 text-center">
                                <a href="/order" class="btn btn-style"> Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w3l-grids-block-5 py-5">
                <div class="container py-lg-5 py-md-4 py-2">
                    <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                        <h3 class="title-style">Other Services</h3>
                    </div>
                            <body>
                                <table class="table table-success table-striped">
                                    <tr>
                                        <th>Service</th>
                                        <th>price</th>    
                                    </tr>
                                    <tr>
                                        <td>Stain removal</td>
                                        <td>Minimum 20 and will be charged based on quantity</td>
                                    </tr>
                                    <tr>
                                        <td>Wet washing  </td>
                                        <td>from 50 onwards</td>
                                    </tr>
                                    <tr>
                                       <td>Laundry</td> 
                                       <td>from 100 onwards</td>
                                    </tr>  
                                    <tr>
                                        <td>Pick up & Delivery</td>
                                        <td>Free delivery within 5km radius  beyond that rates applicable based on order & distance  </td>
                                    </tr>
                                    <tr>
                                        <td>Commercial Laundry </td>
                                        <td><a class="nav-link" href="/contact">Contact Us</a></td>
                                    </tr>
                                </table>


                            
                            <div class="read-more mt-4 pt-lg-2 text-center">
                                <a href="/order" class="btn btn-style"> Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //pricing section -->

    <!-- works section -->
    <section class="w3l-feature-8 py-5">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h5 class="sub-title">Pickup & Deliver</h5>
                <h3 class="title-style">How We Works</h3>
            </div>
            <div class="row features text-center justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-body p-xl-4">
                        <div class="feature-images position-relative">
                            <i class="fas fa-tshirt"></i>
                            <span>1</span>
                        </div>
                        <div class="feature-info mt-4">
                            <h3 class="feature-title">
                                <a href="about.html">Pick Up Your Clothes</a>
                            </h3>
                            <p class="feature-text">Our professional team will come directly to your home or specified location to collect your clothes. We understand your busy schedule, so we make it easy by offering flexible pick-up times that suit you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="feature-body p-xl-4">
                        <div class="feature-images position-relative">
                            <i class="fas fa-biohazard"></i>
                            <span>2</span>
                        </div>
                        <div class="feature-info mt-4">
                            <h3 class="feature-title">
                                <a href="about.html">Laundry & Dry Clean</a>
                            </h3>
                            <p class="feature-text">Whether it's everyday laundry or specialty items requiring delicate care, our experienced team is equipped to handle it all. From stains and odors to wrinkles and delicate fabrics, we have the expertise to ensure your clothes receive the treatment they deserve.We take pride in our attention to detail, ensuring that each garment is meticulously inspected and treated with care.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="feature-body p-xl-4">
                        <div class="feature-images position-relative">
                            <i class="fas fa-truck"></i>
                            <span>3</span>
                        </div>
                        <div class="feature-info mt-4">
                            <h3 class="feature-title">
                                <a href="about.html">Fold Clothes & Deliver</a>
                            </h3>
                            <p class="feature-text">Once your laundry is expertly cleaned, our skilled team meticulously folds each item with care, ensuring that they're neatly organized and ready to be put away. Say goodbye to wrinkled clothes and hello to a tidy wardrobe!But we don't stop there. We believe in going the extra mile for our customers, which is why we offer convenient delivery straight to your doorstep.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="/order" class="btn btn-style mt-5">Book Our Services Now</a>
              
            </div>
        </div>
    </section>
    <!-- //works section -->

   
    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="../static/assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- theme switch js (light and dark)-->
    <script src="../static/assets/js/theme-change.js"></script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- bootstrap -->
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap -->
    <!-- //Js scripts -->
</body>

</html>