<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laundries - Laundry Category Bootstrap Responsive Website Template - Services : W3Layouts</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="../static/assets/css/style-starter.css">
</head>

<body>
    <!-- header -->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                    <span>L</span>aundries<i class="fas fa-hands-wash"></i>
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/order">Schedule Our Services</a>
                        </li>
                    </ul>
                    <form action="#error" method="GET" class="d-flex search-header ms-lg-2">
                        <input class="form-control" type="search" placeholder="Enter Keyword..." aria-label="Search"
                            required>
                        <button class="btn btn-style" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!-- //header -->

    <!-- inner banner -->
    <!-- <section class=" py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">Services</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Services</li>
                </ul>
            </div>
        </div>
    </section> -->
    <!-- //inner banner -->

    <!-- services section -->
    <div class="w3l-grids-block-5 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h5 class="sub-title">What We Offer</h5>
                <h3 class="title-style">Our Services</h3>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="servicecard-single">
                        <div class="grids5-info position-relative">
                            <img src="../static/assets/images/service1.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="content-main-top">
                            <h4><a href="/service">Laundry Services</a></h4>
                            <p>"Revitalize your wardrobe with our premium laundry service. From delicate fabrics to tough stains, we handle it all with care and expertise. Enjoy the convenience of hassle-free laundry as we ensure your clothes come back fresh, clean, and ready to wear. Say goodbye to laundry day stress and hello to impeccably cleaned garments, tailored to your satisfaction."
                            </p>
                            <a class="btn btn-style mt-4" href="/service">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="servicecard-single">
                        <div class="grids5-info position-relative">
                            <img src="../static/assets/images/dc2.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="content-main-top">
                            <h4><a href="/service">Dry Cleaning</a></h4>
                            <p>"Celebrate pristine perfection with our dry cleaning service. Trust us to meticulously clean and preserve your most cherished garments, from suits and dresses to specialty items like wedding gowns and delicate fabrics. Our advanced techniques and eco-friendly solvents ensure a gentle yet effective treatment, leaving your clothes looking impeccable and feeling fresh. Experience the ultimate in garment care and convenience with our professional dry cleaning service."
                            </p>
                            <a class="btn btn-style mt-4" href="/service">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="servicecard-single">
                        <div class="grids5-info position-relative">
                            <img src="../static/assets/images/iron2.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="content-main-top">
                            <h4><a href="/service">Steam Iron</a></h4>
                            <p>"Elevate your wardrobe with our steam iron service. Say goodbye to wrinkles and creases as we expertly press your clothes to perfection. Our state-of-the-art steam iron technology gently smooths out every fabric, from cotton to silk, ensuring a crisp and polished finish. Whether it's everyday attire or special occasion garments, trust us to restore your clothes to their best form. Experience the convenience of effortless style with our professional steam iron service."
                            </p>
                            <a class="btn btn-style mt-4" href="/service">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="servicecard-single">
                        <div class="grids5-info position-relative">
                            <img src="../static/assets/images/stain.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="content-main-top">
                            <h4><a href="/service">Stain Removal</a></h4>
                            <p>"Let us tackle the toughest stains with our specialized stain removal service. From wine spills to grass stains, we employ industry-leading techniques and eco-friendly solutions to effectively eliminate stains without compromising fabric integrity. Whether it's on clothing, upholstery, or linens, our expert team is dedicated to restoring your items to their original pristine condition. Trust us to handle the toughest stains so you can enjoy your belongings with confidence once again."
                            </p>
                            <a class="btn btn-style mt-4" href="/service">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="servicecard-single">
                        <div class="grids5-info position-relative">
                            <img src="../static/assets/images/service5.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="content-main-top">
                            <h4><a href="/service">Wet washing</a></h4>
                            <p>"Experience the ultimate in garment care with our wet washing service. Delicate fabrics, intricate details, and everyday essentials are treated with the utmost care and attention. Using premium detergents and gentle techniques, we ensure thorough cleaning while preserving the integrity of your clothing. From casual wear to formal attire, trust us to deliver exceptional results with our professional wet washing service. Say hello to freshness and longevity for your wardrobe."
                            </p>
                            <a class="btn btn-style mt-4" href="/service">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="servicecard-single">
                        <div class="grids5-info position-relative">
                            <img src="../static/assets/images/service6.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="content-main-top">
                            <h4><a href="/service">Commercial Laundry</a></h4>
                            <p>"Unlock the power of efficiency and reliability with our commercial laundry service. Tailored for businesses of all sizes, we offer comprehensive solutions to meet your unique needs. From hotels and restaurants to healthcare facilities and beyond, our state-of-the-art equipment and expert staff ensure fast turnaround times and impeccable cleanliness. With a focus on quality and consistency, we handle large volumes of laundry with precision and care, allowing you to focus on what matters most – your business. Elevate your commercial laundry experience with us."
                            </p>
                            <a class="btn btn-style mt-4" href="/service">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //services section -->
    <!-- works section -->
    <section class="w3l-feature-8 py-5">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h5 class="sub-title">Pickup & Deliver</h5>
                <h3 class="title-style">How We Works</h3>
            </div>
            <div class="row features text-center justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-body p-xl-4">
                        <div class="feature-images position-relative">
                            <i class="fas fa-tshirt"></i>
                            <span>1</span>
                        </div>
                        <div class="feature-info mt-4">
                            <h3 class="feature-title">
                                <a href="about.html">Pick Up Your Clothes</a>
                            </h3>
                            <p class="feature-text">Our professional team will come directly to your home or specified location to collect your clothes. We understand your busy schedule, so we make it easy by offering flexible pick-up times that suit you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="feature-body p-xl-4">
                        <div class="feature-images position-relative">
                            <i class="fas fa-biohazard"></i>
                            <span>2</span>
                        </div>
                        <div class="feature-info mt-4">
                            <h3 class="feature-title">
                                <a href="about.html">Laundry & Dry Clean</a>
                            </h3>
                            <p class="feature-text">Whether it's everyday laundry or specialty items requiring delicate care, our experienced team is equipped to handle it all. From stains and odors to wrinkles and delicate fabrics, we have the expertise to ensure your clothes receive the treatment they deserve.We take pride in our attention to detail, ensuring that each garment is meticulously inspected and treated with care.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="feature-body p-xl-4">
                        <div class="feature-images position-relative">
                            <i class="fas fa-truck"></i>
                            <span>3</span>
                        </div>
                        <div class="feature-info mt-4">
                            <h3 class="feature-title">
                                <a href="about.html">Fold Clothes & Deliver</a>
                            </h3>
                            <p class="feature-text">Once your laundry is expertly cleaned, our skilled team meticulously folds each item with care, ensuring that they're neatly organized and ready to be put away. Say goodbye to wrinkled clothes and hello to a tidy wardrobe!But we don't stop there. We believe in going the extra mile for our customers, which is why we offer convenient delivery straight to your doorstep.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="/order" class="btn btn-style mt-5">Book Our Services Now</a>
              
            </div>
        </div>
    </section>
    <!-- //works section -->


   
    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="../static/assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- theme switch js (light and dark)-->
    <script src="../static/assets/js/theme-change.js"></script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- bootstrap -->
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap -->
    <!-- //Js scripts -->
</body>

</html>